@import '~normalize.css/normalize.css';
@import "common/global";
@import "common/typography";
@import "common/variables";

.editor-block-list__layout {
  & svg {
    &#v8ch-logo {
      height: 125px;
      width: 125px;

      @media (min-width: 768px) {
        height: 200px;
        width: 200px;
      }
    }

    & .fill-color--v8ch-logo {
      fill: #dcedc8;
    }
  }
}
