%flex-container-base {
  display: flex;
  height: 100%;
  width: 100%;
}

%one-em-medium-lower {
  font-size: 1em;
  font-weight: 600;
  text-transform: lowercase;

  @media (min-width: 1200px) {
    font-size: 1.5em;

    .editor-block-list__layout & {
      font-size: 1em;
    }
  }
}

%one-em-thin-lower {
  font-size: 1em;
  font-weight: 300;
  text-transform: lowercase;

  @media (min-width: 1200px) {
    font-size: 1.5em;

    .editor-block-list__layout & {
      font-size: 1em;
    }
  }
}

%two-em-medium-upper {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 2.5em;

    .editor-block-list__layout & {
      font-size: 2em;
    }
  }

  @media (min-width: 1200px) {
    font-size: 4em;

    .editor-block-list__layout & {
      font-size: 2.5em;
    }
  }
}
