@import "placeholders";
@import "variables";

.dual-header,
.header,
.split-header {
  & h3,
  & h4,
  & h5 {
    line-height: 1.2;
    margin: 0;
  }

  h3 {
    @extend %two-em-medium-upper;
  }

  h4 {
    @extend %one-em-medium-lower;
  }

  h5 {
    @extend %one-em-thin-lower;
  }
}

.dual-header--light {
  & h3,
  & h4,
  & h5 {
    color: $color__v8ch-green;
  }
}

.dual-header--dark {
  & h3,
  & h4,
  & h5 {
    color: $color__v8ch-dark-green;
  }
}

.type--v8ch,
.type--v8ch p {
  font-family: 'Work Sans', sans-serif;
}

.featured-link {

  a {
    @extend %one-em-medium-lower;
  }

  & p {
    @extend %one-em-thin-lower;
  }

  &.featured-link--light {
    a,
    p {
      color: $color__v8ch-green;
    }
  }

  & h5 {
    @extend %one-em-medium-lower;
  }
}

.editor-block-list__block-edit {
  & .featured-link p {
    line-height: 1.15;
  }
}

.header--light {
  & h3,
  & h4,
  & h5 {
    color: $color__v8ch-green;
  }
}

.header--dark {
  & h3,
  & h4,
  & h5 {
    color: $color__v8ch-dark-green;
  }
}

.header {
  h3 {
    margin: 0 0 1em 0;
  }
}
